
<!DOCTYPE html>
<html>
<head>
    <title>FastFood Việt Nam</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Assets/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/layout.css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.css">
    <link rel="stylesheet" href="~/Assets/css/product.css">
    <link rel="stylesheet" href="~/Assets/css/menu-product.css">
    <link rel="stylesheet" href="~/Assets/css/product.css">
    <link rel="stylesheet" href="~/Assets/css/introduce.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</head>
<body>
    @*@using (Html.BeginForm("KQTimKiem","TimKiem"))
    {
        <input type="text" name="sTuKhoa" placeholder="nhapj tu khoa" />
        <button type="submit">tim kiem</button>
    }*@
    <div class="header">
        <div class="headertop-right">
            <ul>
                <li>
                    <a href="@Url.Action("Login", "Auth")">Đăng Nhập</a>
                </li>
                <img src="~/Assets/images/topbar.png">
                <li style="margin-right: 3px">
                    <a href="#">Đăng Kí</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")"><img src="~/Assets/images/logo.png"></a>
            </div>
            @Html.Action("MenuPartial", "Menu_ListLSP")
        </div>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="container ">
            <div style="text-align: center; padding-top:10px; padding-bottom: 10px;">
                <h4>Kết nối với chúng tôi</h4>
                <ul class="social ">
                    <li><a href="# "><i> </i></a></li>
                    <li><a href="# "><i class="twitter "> </i></a></li>
                    <li><a href="# "><i class="rss "> </i></a></li>
                    <li><a href="# "><i class="gmail "> </i></a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="footer-class ">
            <p>
                FastFood WebSite | Design by HungNT
                <a href="#" class="backtop backtop-visible"></a>
            </p>
        </div>
    </div>
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="cart" aria-hidden="true">
        <div class="modal-dialog modal-dialog" role="document" style="max-width: none;width:auto;padding-left: 3%;padding-right: 3%;">
            <div class="modal-content">
                <div class="modal-header" style="font-weight: bold;color: #ffffff;background-color: #EF5F21;padding: 5px 5px 5px">
                    <h5 style="font-weight: bold;color: antiquewhite; font-size: 25px; margin-left: 2%" class="modal-title">Phần Ăn Bạn Đã Chọn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right:0; font-size:40px">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body-gh" style="overflow-x: scroll;">
                    <div class="container" style="max-height: 400px">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-6" style="text-align: right; margin-right:0">
                        <button class="add-to-cart">
                            <a href="@Url.Action("LoaiSanPham","SanPham")">Tiếp tục mua hàng</a>
                        </button>
                    </div>
                    <div class="col-6 " style="text-align: left; margin-left:0">
                        <button class="payment">
                            <a>Thanh toán</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/Assets/global/vendor/jquery/jquery.js"></script>
<script src="~/Assets/global/vendor/popper-js/umd/popper.min.j"></script>
<script src="~/Assets/global/vendor/bootstrap/bootstrap.js"></script>
<script src="~/Assets/js/App/website.js"></script>
<script src="~/Scripts/Features.js"></script>
<script>
        $(window).scroll(function () {
            if ($(window).scrollTop() == 0) {
                $(".header").css("position", "relative");
            } else {
                $(".header").css("position", "fixed");
            }
        });

        function XemGioHang() {
            debugger
            $.ajax({
                url: '/GioHang/GioHang_ChiTiet'
            }).done((result) => {
                $(".modal-body-gh .container").html(result);
            })
        }
</script>
</html>