@model DTO.SanPhamDTO
@using DTO;
@{ 
    List<LoaiSanPhamDTO> listProductType = (List<LoaiSanPhamDTO>)TempData["productType"];
}

<div class="panel-body container-fluid">
    <form autocomplete="off">
        <input type="hidden" value='@Model.MaSanPham' id="MaSanPham" name="inputText" placeholder="Text" />
        <div class="form-group form-material" data-plugin="formMaterial">
            <label class="form-control-label" for="TenSanPham">Tên Sản Phẩm *</label>
            <input type="text" class="form-control required" value='@Model.TenSanPham' id="TenSanPham" />
        </div>

        <div class="form-group form-material" data-plugin="formMaterial">
            <label class="form-control-label" for="DonGia">Đơn giá *</label>
            <input type="text" class="form-control required" value='@Model.DonGia' id="DonGia" />
        </div>

        <div class="form-group form-material" data-plugin="formMaterial">
            <label class="form-control-label">Trạng Thái *</label>
            <input type="checkbox" style="transform: scale(3);width:44px;" id="TrangThai" @if (Model.TrangThai) { <text>checked</text> }  />
            <label for="TrangThai">Hiện bán</label>
        </div>

        <div class="form-group form-material" data-plugin="formMaterial">
            <label class="form-control-label" for="MaLoaiSanPham">Loại sản phẩm *</label>
            <select class="form-control" id="MaLoaiSanPham" data-plugin="select2">
                @for (int i = 0; i < listProductType.Count; i++)
                {
                    if (listProductType[i].MaLoaiSanPham == Model.MaLoaiSanPham)
                    {
                        <option selected value='@listProductType[i].MaLoaiSanPham'>@listProductType[i].TenLoaiSanPham</option>
                    }
                    else
                    {
                        <option value='@listProductType[i].MaLoaiSanPham'>@listProductType[i].TenLoaiSanPham</option>
                    }
                }
            </select>
        </div>
        <div class="form-group" data-plugin="formMaterial">
            <label class="form-control-label font-weight-bold" for="HinhAnh">Hình ảnh *</label>
            <input type="file" id="file">
            <input type="hidden" value="@Model.HinhAnh" id="HinhAnh">
            <br>
            <img src="@Model.HinhAnh" width='200px' height='200px' id="showImg" style='@if (Model.MaCombo.Equals(0)) { <text>display:none;</text> } else { <text>display:block;</text> } ')>
        </div>
        
        
        <div class="form-group form-material" data-plugin="formMaterial">
            <label class="form-control-label" for="MoTa">Mô tả</label>
            <textarea id="MoTa" class="form-control border-form" rows="8">@Model.MoTa</textarea>
        </div>
    </form>
</div>
<script>
    var file=undefined;
    $("#MaLoaiSanPham").select2();
    $("#file").change(function (event) {
        $("#showImg").css("display", "none");
        if (event.target.files) {
            file = event.target.files[0];
            //const allowedExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
              if (!file.type.includes('image')) {
                  this.value = '';
                  file = undefined;
                  toastr.error('Vui lòng chọn file ảnh');
                return;
              }
          if (file.size / 1024 / 1024 >= 8) {
              this.value = '';
              file = undefined;
              toastr.error('Dung lượng file không được vượt quá 8MB')
            return;
          }
            const fd = new FileReader();
            fd.readAsDataURL(file);
            fd.onload = (result) => {
                $("#showImg").attr("src", result.target.result);
                $("#showImg").css("display", "block");
            }
        }
    });

</script>