@using Source.Configuration;
@model List<DAO.GioHang>
@{ 
    decimal TongTien = 0;
}

@if(Model == null || Model.Count == 0)
{
    <p class="text-danger text-center" style="font-size: 30px">
        Bạn Chưa Mua Sản Phẩm Nào!
    </p>
}
else
{
    <div class="container">
        <div class="cart-info" style="margin-top: 1%">
            <table>
                <tr style="font-size: 18px;font-weight: bold">
                    <td>Tên Sản Phẩm</td>
                    <td>Giá</td>
                    <td>Số Lượng</td>
                    <td colspan="2">Thay Đổi</td>
                </tr>
                @foreach (var item in Model)
                {
                    if (item.cb == null)
                    {
                        <tr>
                            <td id="td1">
                                <div class="row" style="margin: 0">
                                    <div class="col-4">
                                        <a href="update-cart.html">
                                            <img src="@Url.Content(AppConfig.loadSP + item.sp.HinhAnh)">
                                        </a>
                                    </div>
                                    <div class="col-8" style="margin-top: 10px">
                                        <div class="col align-self-start">
                                            <a href="update-cart.html" style="font-size: 20px">@item.sp.TenSanPham</a>
                                        </div>                                     
                                    </div>
                                </div>
                            </td>
                            @{TongTien += item.sp.DonGia * item.SoLuong;}
                            <td id="giaSP">@(item.sp.DonGia * item.SoLuong)</td>                     
                            <td id="td3">
                                <div class="count-product">
                                    <div class="span-1-option">
                                        <button class="control-count" onclick="GiamSL('/GioHang/GiamSL', @item.sp.MaSanPham,true)" type="button" id="btn-1">
                                            <span>-</span>
                                        </button>
                                        <input disabled="disabled" type="text" id="number"  class="count" maxlength="10" value="@item.SoLuong">
                                        <button class="control-count" onclick="TangSL('/GioHang/TangSL', @item.sp.MaSanPham,true)" type="button" id="btn-2">
                                            <span>+</span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td id="td5">
                                <button onclick="XoaGioHang('/GioHang/XoaGioHang', @item.sp.MaSanPham, true)"><img src="~/assets/images/trash.png">xóa</button>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td id="td1">
                                <div class="row" style="margin: 0">
                                    <div class="col-4">
                                        <a href="update-cart.html">
                                            <img src="@Url.Content(AppConfig.loadSP + item.cb.HinhAnh)">
                                        </a>
                                    </div>
                                    <div class="col-8" style="margin-top: 10px">
                                        <div class="col align-self-start">
                                            <a href="update-cart.html" style="font-size: 20px">@item.cb.TenCombo</a>
                                        </div>
                                        <div class="col align-self-end" style="margin-top:3%">
                                            <a class="adetail" href="#detail" data-toggle="collapse">
                                                Xem chi tiết
                                            </a>
                                            <div class="collapse" id="detail">
                                                <div class="show-detail">
                                                    <dl>
                                                        @foreach (var ds in item.cb.sanPham)
                                                        {
                                                            <dt>@ds.TenSanPham :</dt> 
                                                            <dd>@ds.SoLuong</dd>
                                                        }
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            @{TongTien += item.cb.DonGia * item.SoLuong;}
                            <td id="giaCB">@(item.cb.DonGia * item.SoLuong)</td>
                            <td id="td3">
                                <div class="count-product">
                                    <div class="span-1-option">
                                        <button class="control-count" onclick="GiamSL('/GioHang/GiamSL', @item.cb.MaCombo,false)" type="button" id="btn-1">
                                            <span>-</span>
                                        </button>
                                        <input disabled="disabled" type="text" id="number"  class="count" maxlength="10" value="@item.SoLuong">
                                        <button class="control-count" onclick="TangSL('/GioHang/TangSL', @item.cb.MaCombo, false)" type="button" id="btn-2">
                                            <span>+</span>
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <td id="td5">
                                <button onclick="XoaGioHang('/GioHang/XoaGioHang',@item.cb.MaCombo, false);"><img src="~/assets/images/trash.png">xóa</button>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div style="font-weight: bold">
        <div class="row" style="padding-top: 1%">
            <div class="col-6" style="text-align: right; color: black; padding-top: 5px;">
                <p>Tổng Cộng:</p>
            </div>
            <div class="col-6" style="text-align: left; color: green; font-size: 23px; padding-left:0;">
                <span id="tongtien">@TongTien</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-6" style="text-align: right; margin-right:0">
            <button class="add-to-cart">
                <a href="@Url.Action("LoaiSanPham","SanPham")">Tiếp tục mua hàng</a>
            </button>
        </div>
        <div class="col-6 " style="text-align: left; margin-left:0">
            <button class="payment">
                <a>Thanh toán</a>
            </button>
        </div>
    </div>
}

<script>
    function XoaGioHang(url, id, laSanPham) {
        var r = confirm("Bạn có chắc muốn xóa sản phẩm !")
        if(r === true){
            $.ajax({
                url: url,
                data: {
                    MaMatHang: id,
                    laSanPham: laSanPham
                }
            }).done(() => {
                $.ajax({
                    url: '/GioHang/GioHang_ChiTiet'
                }).done((result) => {
                    $(".modal-body-gh .container").html(result);
                })
            })
        }      
    }

    function GiamSL(url, id, laSanPham) {
            $.ajax({
                url: url,
                data: {
                    MaMatHang: id,
                    laSanPham: laSanPham
                }
            }).done(() => {
                $.ajax({
                    url: '/GioHang/GioHang_ChiTiet'
                }).done((result) => {
                    $(".modal-body-gh .container").html(result);
                })
            })
    }    
    
    function TangSL(url, id, laSanPham) {
        $.ajax({
            url: url,
            data: {
                MaMatHang: id,
                laSanPham: laSanPham
            }
        }).done(() => {
            $.ajax({
                url: '/GioHang/GioHang_ChiTiet'
            }).done((result) => {
                $(".modal-body-gh .container").html(result);
            })
        })
    }  

    
</script>


