@using Source.Configuration;

@{
    List<DAO.SanPham_LoaiSanPham> lstSP = (List<DAO.SanPham_LoaiSanPham>)TempData["sanPham"];
    List<DAO.Combo_SanPham> lstCB = (List<DAO.Combo_SanPham>)TempData["comBo"];
}

<div class="title-menu">
    <h2>@lstSP.FirstOrDefault().TenLoaiSanPham</h2>
</div>
<div class="cotent-top">
    <div class="col-12" style="margin-bottom: 5%; ">
        <div class="menu-product">
            <ul>
                @for (int i=0; i<lstCB.Count; i++)
                {
                    <li>
                        <div class="product-describe">
                            <img src="@Url.Content(AppConfig.loadSP + lstCB[i].HinhAnh)">
                            <div class="description">
                                @for (int j = 0; j < lstCB[i].sanPham.Count; j++)
                                {
                                    <span>@lstCB[i].sanPham[j].TenSanPham x  @lstCB[i].sanPham[j].SoLuong</span><br>
                                }
                            </div>
                        </div>
                        <div class="product-info">
                            <h4>@lstCB[i].TenCombo</h4>
                            <p>@lstCB[i].DonGia</p>
                            <button class="cart-btn" data-toggle="modal" onclick="XemChiTiet('/SanPham/SanPham_ChiTiet',@lstCB[i].MaCombo,false)" data-target="#showdetail">Đặt Mua</button>
                        </div>
                    </li>
                }
                @foreach (var item in lstSP)
                {
                    <li>
                        <div class="product-describe">
                            <img src="@Url.Content(AppConfig.loadSP + item.HinhAnh)">
                            <div class="description">
                                @item.MoTa
                            </div>
                        </div>
                        <div class="product-info">
                            <h4>@item.TenSanPham</h4>       
                            <p>@item.DonGia</p>
                            <button class="cart-btn" data-toggle="modal" onclick="XemChiTiet('/SanPham/SanPham_ChiTiet',@item.MaSanPham,true)" data-target="#showdetail">Đặt Mua</button>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script>
    function XemChiTiet(url, id, laSanPham) {    
        $.ajax({           
            url: url,
            type: "post",
            data: {
                MaMatHang: id,
                laSanPham: laSanPham
            }
        }).done((result) => {
            $(".modal-body .container").html(result);            
        })     
    }
</script>

