
@model DAO.ChiPhiDAO
@using DAO;
@{
    List<LoaiChiPhiDAO> dsLoaiChiPhi = (List<LoaiChiPhiDAO>)TempData["loaiChiPhi"];
}
<div class="panel-body container-fluid">
    <form autocomplete="off">
        <input type="hidden" value='@Model.MaChiPhi' id="MaChiPhi"  />
        <input type="hidden" value='@Model.NgayTao' id="NgayTao" />

        <div class="form-group form-material" data-plugin="formMaterial">
            <label class="form-control-label" for="TenLoaiChiPhi">Giá tiền</label>
            <input type="text" class="form-control required currency" onkeyup="formatCurrency(this)" value='@Model.GiaTien' id="GiaTien" />
        </div>

        <div class="form-group form-material" data-plugin="formMaterial">
            <label class="form-control-label" for="MaLoaiChiPhi">Loại chi phí</label>
            <select class="form-control" id="MaLoaiChiPhi" data-plugin="select2">
                @for (int i = 0; i < dsLoaiChiPhi.Count; i++)
                {
                    if (dsLoaiChiPhi[i].MaLoaiChiPhi == Model.MaLoaiChiPhi)
                    {
                        <option selected value='@dsLoaiChiPhi[i].MaLoaiChiPhi'>@dsLoaiChiPhi[i].TenLoaiChiPhi</option>
                    }
                    else
                    {
                        <option value='@dsLoaiChiPhi[i].MaLoaiChiPhi'>@dsLoaiChiPhi[i].TenLoaiChiPhi</option>
                    }
                }
            </select>
        </div>

    </form>
</div>

<script>
    $("#MaLoaiChiPhi").select2();
    formatCurrency(document.getElementsByClassName('currency')[0]);
</script>