@model List<DAO.LoaiChiPhiDAO>
@{ 
    int pageFrom = ((ViewBag.pageNumber - 1) * ViewBag.pageSize) + 1;
}
<!-- Table -->
<div class="example-wrap">
    <div class="example table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên Loại Chi phí</th>
                    <th>Mô tả</th>
                    <th class="text-center">Chỉnh sửa</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                                <td>@(pageFrom + i)</td>
      
                                  <td>@Model[i].TenLoaiChiPhi</td>
      
                                  <td>@Model[i].MoTa</td>
                                  <td class="text-center">
                                <i class="icon wb-edit text-primary" onclick="setValueForModal(this,true)"  data-id='@Model[i].MaLoaiChiPhi' data-target="#info-modal" data-toggle="modal" aria-hidden="true"></i> / <i class="icon wb-trash text-danger" aria-hidden="true" data-target="#confirm-modal" onclick="setIDForDelete(@Model[i].MaLoaiChiPhi)" data-toggle="modal"></i>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center" colspan="7">Không có dữ liệu</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- End Table -->
@{ Html.RenderAction("_Pagination", "Home", new { maxNumber = ViewBag.maxNumber, pageNumber = ViewBag.pageNumber });}

<script>
    var url_GetTb = '/Admin/ChiPhi/_DanhSachLoaiChiPhi';
    var url_GetMd = '/Admin/ChiPhi/_LoaiChiPhi_ChiTiet';
    var url_InsertUpdate = '/Admin/Ajax/addOrUpdateExpenseType';
    var url_Delete = '/Admin/Ajax/DeleteExpenseType';

</script>
