@{
    double pageStart;
    double pageEnd;
    if (ViewBag.maxNumber < 6)
    {
        pageStart = 1;
        pageEnd = @ViewBag.maxNumber;
    }
    else
    {
        pageStart = @ViewBag.pageNumber - 2 >= 1 ? @ViewBag.pageNumber - 2 : 1;
        pageEnd = @ViewBag.pageNumber + 2 >= @ViewBag.maxNumber ? @ViewBag.maxNumber : @ViewBag.pageNumber + 2;
    }
}

@if (ViewBag.maxNumber > 1)
{
    <nav>
        <ul class="pagination" >
            <li style="margin-left:40%;" class="page-item @if (ViewBag.pageNumber == 1)
            { <text>disabled</text> }" @if (ViewBag.pageNumber != 1)
            { <text> onclick="changePage(1)" </text> }>
                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @if (pageStart > 1)
            {
                <li><a class="page-link"> ... </a></li>
            }
            @for (double i = pageStart; i <= pageEnd; i++)
            {
                if (i == ViewBag.pageNumber)
                {
                    <li  class="active page-item"><a class="page-link" href="javascript:void(0)">@i<span class="sr-only">(current)</span></a></li>
                }
                else
                {
                    <li onclick="changePage(@i)" class="page-item"><a class="page-link" href="javascript:void(0)">@i</a></li>

                }
            }
            @if (pageEnd < ViewBag.maxNumber)
            {
                <li><a class="page-link"> ... </a></li>
            }
            <li class="page-item">
                <a class="page-link @if (ViewBag.pageNumber == pageEnd)
                { <text>disabled</text> }"  @if (ViewBag.pageNumber !=pageEnd)
            { <text> onclick="changePage(@pageEnd)" </text> } href="javascript:void(0)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}